.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  place-items: center;
}

.logo {
  border-radius: 10%;
  width: 70%;
  background-color: #444;
}

.txt-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;

  h1 {
    font-size: 5rem;
    line-height: 4rem;
  }

  p {
    font-size: 2rem;
    color: var(--secondary);
  }
}

.download-btn {
  width: fit-content;
  margin-top: 1em;
  cursor: pointer;
  background-color: var(--accent);
  color: var(--primary);
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-size: 1.2em;
  transition: 0.3s ease-in-out;
}
.download-btn:hover,
.download-btn:focus {
  color: var(--primary);
  box-shadow: 0 0 10px var(--accent);
}
