*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --accent: #c7ef00;
  --accent-secondary: #c7ef00;
  --background: #242424;
  --background-secondary: #343434;
  --primary: #fff;
  --secondary: #bbb;
}

body {
  background-color: var(--background-secondary);
}

a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-secondary);
}

main {
  width: 100%;
  background-color: var(--background-secondary);
}

section {
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--accent);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
button:hover,
button:focus {
  background-color: var(--accent-secondary);
}
